/*------------------------------------*\
  #BASE
\*------------------------------------*/

/**
 * Reset i estils globals
 */

@use "../variables" as *;

/*------------------------------------*\
  #RESET
\*------------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*------------------------------------*\
  #ELEMENTS GENÈRICS
\*------------------------------------*/

h1 {
  font-family: $font-family-serif;
}

.text-justify {
  text-align: justify;
}
