/*------------------------------------*\
  #BASE
\*------------------------------------*/

/**
 * Reset i estils globals
 */

@use "../variables" as *;

/*------------------------------------*\
  #RESET
\*------------------------------------*/

html {
  scroll-behavior: smooth;
}

h1,
h2 {
  font-family: $font-family-serif;
}

a {
  text-decoration: none;
}
/*------------------------------------*\
  #ELEMENTS GENÈRICS
\*------------------------------------*/
