<script type="module" src="/src/assets/scripts/main.js"></script>

<footer class="footer">
  <!-- Zona 1: text superior del footer -->
  <div class="footer__top pt-5 pb-3">
    <div class="container-lg">

      <ul class="footer__top-content list-unstyled gap-3">

        <li class="actualitat">

          <span class="fs-5 fw-bold text-black-50">Actualitat</span>
          <ul class="footer__top-area list-unstyled ps-3">

            <li>Notícies</li>
            <li>Agenda</li>
            <li>Avisos</li>
            <li>Butlletí digital</li>
            <li>Xarxes socials</li>
            <li>Hemeroteca</li>
            <li>RSS</li>
          </ul>
        </li>

        <li class="ajuntament">

          <span class="fs-5 fw-bold text-black-50">Ajuntament</span>
          <ul class="footer__top-area list-unstyled ps-3">

            <li>L'Ajuntament</li>
            <li>Informació oficial</li>
            <li>Plens municipals</li>
            <li>Juntes de govern</li>
            <li>Transparència</li>
            <li>Protecció de dades</li>
            <li>Seu electrònica</li>
          </ul>

        </li>

        <li class="municipi">

          <span class="fs-5 fw-bold text-black-50">El municipi</span>
          <ul class=" footer__top-area list-unstyled ps-3 ">
            <li>Com arribar-hi</li>
            <li>Transport públic</li>
            <li>Guia de carrers / Plànol</li>
            <li>Informació del municipi</li>
            <li>Galeria d'imatges</li>
            <li>Policia Local</li>
            <li>Turisme</li>
          </ul>

        </li>

        <li class="serveis ">
          <span class="fs-5 fw-bold text-black-50">Serveis i tràmits</span>
          <ul class="footer__top-area list-unstyled ps-3">
            <li>Oficines municipals</li>
            <li>Catàleg de Serveis</li>
            <li>Tràmits i gestions</li>
            <li>Notificacions electròniques</li>
            <li>Impostos</li>
            <li>Factura electrònica</li>

          </ul>

        </li>

      </ul>
    </div>
  </div>

  <!-- Zona 2: logo + navegació + xarxes -->

  <div class="footer__nav container-lg py-3 border-top">

    <span class="navbar-brand text-black-50 fw-bold ">Taller d'artesania de terrissa</span>

    <nav class="navbar">
      <include src="./views/nav.html"></include>
    </nav>

    <div class="footer__nav-social container-fluid col-12 col-md-4 d-flex flex-row gap-3">
      <a href="#" class="text-tertiary"><i class="fa-brands fa-facebook-f"></i></a>
      <a href="#" class="text-tertiary"><i class="fa-brands fa-twitter"></i></a>
      <a href="#" class="text-tertiary"><i class="fa-brands fa-google"></i></a>
    </div>

  </div>

  <!-- Zona 3: franja legal / UOC -->
  <div class="footer__legal py-4 border-top ">
    <div class="container-fluid row">


      <div class="col-3 col-md-2 d-flex align-items-center">
        <img src="/src/assets/images/Logotipo_UOC.png" alt="Universitat Oberta de Catalunya" class="img-fluid ">
      </div>

      <small class="col-9 col-md-10 align-self-center justify-content-end">Aquesta pàgina web ha estat creada
        exclusivament per a
        l'assignatura
        Eines <abbr title=" Hypertext Markup Language" lang="en"> HTML</abbr> i <abbr title="Cascading Style Sheets"
          lang="en">CSS</abbr>
        II del Master Desenvolupament de llocs i aplicacions web de la <abrr tittle="Universitat Oberta de Catalunya">
          UOC</abbr></small>

    </div>
  </div>
</footer>