<ul class="navbar-nav align-items-end">
    <li class="nav-item p-0">
        <a class="nav-link active" aria-current="page" href="/src/index.html">Inici</a>
    </li>
    <li class="nav-item p-0">
        <a class="nav-link" href="/src/ponents/index.html">Ponents</a>
    </li>
    <li class="nav-item p-0">
        <a class="nav-link" href="/src/article/index.html">Article</a>
    </li>
    <li class="nav-item p-0">
        <a class="nav-link" href="/src/inscripcio/index.html">Inscripcions</a>
    </li>
</ul>